<h3>Trouvez le cours qui vous convient le mieux !</h3>

<%= form_with url: courses_path, method: :get, class: "d-flex" do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Trouvez un cours"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<% @courses.each do |course| %>
  <%= course.name %>
  <%= course.category %>
  <%= course.time %>
  <%= course.day %>
<% end %>
